<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head", { title: "About" }); %>
</head>
<body>
    <header>
        <%- include("../partials/header"); %>
    </header>

    <main>
        <h1>This is About Page</h1>
    </main>

    <footer>
        <%- include("../partials/footer"); %>
    </footer>
</body>
</html>