<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head", { title: "Home" }); %>
</head>
<body>
    <header>
        <%- include("../partials/header"); %>
    </header>

    <main>
        <div class="container">
            <h1><%= message %></h1>
        </div>
    </main>

    <footer>
        <%- include("../partials/footer"); %>
    </footer>
</body>
</html>