*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav, footer, main{
    padding: 1rem 2rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav h1 {
    margin-right: auto;
}