<header>
    <nav>
        <ul>
            <h1>
                TodoApp
            </h1>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/todo">Todos</a>
            </li>
        </ul>
    </nav>
</header>